/* body {
  background-image: url('img/bghubungi.jpg');
  background-repeat: no-repeat;
} */

/*warna button submit*/
/* 
.btn {
  background-color: #50677b;
  color: white;
} */

/*warna pada hubungi kami*/

/* .card {
  box-shadow: 8px 8px 12px black;
  background-color: #464646;
  color: white;
  border-radius: 10px;
  
} */

/*warna pada text hubungi kami*/

/* .bg {
  background-color: #50677b;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
} */

/*icon diatas maps*/

/* .icon {
  background-color: #50677b;
  color: white;
  box-shadow: 2px 2px 4px black;
} */
/* 
#maps {
  width: 70px;
}
 */

/* .site-footer {
  padding: 9em 0;
  background: #333333; }
  @media (min-width: 768px) {
    .site-footer {
      padding: 8em 0; } }
  .site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
  .site-footer p {
    color: #fff; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: rgba(255, 255, 255, 0.5); }
    .site-footer a:hover {
      color: white; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #fff; 
} */